.blogcard{
  margin-top: 2rem;
  display: flex;
  
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  
}

/* @media screen and (max-width: 1000px) {
  .blogcard {
    flex-direction: column;
    align-items: center;
  }
} */
.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.text{
  color:rgb(69, 169, 236);
}
.profile{
  display: flex;
  justify-content: center;
 margin-top: 6rem;


}
.goback{
  text-decoration: none;
  color: white;
 
}